@media screen and (max-width:600px) {
    .accessibilityimage {
        width: 40px;
    }
    #slideout {
        width: 289px !important;
    }
}
#slideout li.disabled {
    pointer-events: none;
    opacity: 0.7;
}
.alignRight {
    text-align: right !important;
}
.alignLeft {
    text-align: left!important;
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}
.myLogo {
    width: 40px;
    padding-top: 10px;
}

/*@-moz-document url-prefix() {
    #slideout {
    position: sticky;
        float: left;
    
    
}
#slideout_inner {
    position: absolute;
    float: left;
    
}
    .transparentButton {
        margin-top: 40px;
    }
}*/

#slideout {
    position: fixed;
    top: 40px;
    left: -250px;
    z-index: 10000;
    direction: rtl;
    font-size: 16px;
    width: 303px;
}
#slideout ul {
    background-color: #fff;
    border: 1px solid #777;
    width: 248px;
    text-align: center;
    /* margin: 0 auto; */
    padding: 20px;
    float:left;
}
.accessibilityMenuButton {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #999;
    margin-bottom: 3px;
    cursor: pointer;
    color: #444;
    background-color: white;
    font-weight: bold;
}
.accessibilityMenuButton:disabled {
    border: 1px solid #ccc;
    color: #ccc !important;
    cursor: not-allowed;
}
.accessibilityMenuButton:focus,
.accessibilityMenuButton:active {
    border: 1px solid #3366ff;
    color: #3366ff;
}
#slideout2 ul {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #777;
    width: 250px;
    padding: 20px;
    z-index: 10000;
    background-color: white;
}
.transparentButton {
    padding: 0;
    background-color: transparent;
    border: none;
}
.leftContent {
    margin-top: -38px;
}
@-moz-document url-prefix() {
    #btnGrayscaleOn,
    #btnGrayscaleOff {
        display: none;
    }
}
