/* *************************************** */


/* *   Style Switcher: biggest font size * */


/* *************************************** */

body {
    font-size: 1.3em;
}
h3 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.8em;
}
h1 {
    font-size: 2em;
}
