@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
<div id="cookieConsent" class="alert alert-dark alert-dismissible fade show" role="alert">
    This website makes use of cookies to enhance browsing experience and provide additional functionality.  <a asp-controller="Home" asp-action="Privacy" style="color: #1d8cc1"> Learn More</a>.
    <button  style="color: #1d8cc1" type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
        <span aria-hidden="true">Accept</span>
    </button>
</div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
				var cookieContainer = document.querySelector("#cookieConsent");
				cookieContainer.remove();
            }, false);
        })();
    </script>
}