<p>
    <div style="float:right">
     
        <div style="margin:5px">
            <small><a asp-controller="Home" asp-action="Privacy" class="accessibility-medium accessibility-underline accessibility-colored">Privacy policy</a></small>
            <a href="https://liveit-project.eu/"><img src="/images/icons/website_active_icon.png" alt="Website icon" width="20" height="20"></a>
            <a href="https://www.facebook.com/liveitproj/"><img src="/images/icons/facebook_active_icon.png" alt="Facebook icon" width="20" height="20"></a>
            <a href="https://twitter.com/LiveIT_proj"><img src="/images/icons/twitter_active_icon.png" alt="Twitter icon" width="20" height="20"></a>
            <a href="https://www.youtube.com/channel/UCI84XETISgjnFWMrbQV7N1Q"><img src="/images/icons/youtube_active_icon.png" alt="Youtube icon" width="20" height="20"></a>
            <a href="https://www.linkedin.com/company/live-it-project/"><img src="/images/icons/linkedin_active_icon.png" alt="Linkenin icon" width="20" height="20"></a>
            <small class="accessibility-medium">Copyright © 2021</small><a class="accessibility-underline accessibility-colored" href="https://liveit-project.eu/"> LIVE IT </a>All rights reserved.
            <small class="accessibility-medium">v1.051 </small>
        </div>
    </div>
    <div style="float:left;width:650px;font-size:10px;margin:0 0 5px 0" class="accessibility-medium">
        <div style="width: 12%; float:left">
            <img src="~/images/European_Commission.svg_.jpg" width="50" alt="European Union flag" />
        </div>
        <p class="accessibility-medium">This project has been funded with support from the European Commission (LC-01624438/101018048). This publication reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained there in.</p>
    </div>
</p>
