<nav>
    <div role="tabpanel">
        <!-- Nav tabs-->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" href="#app-settings" aria-controls="app-settings" role="tab" data-toggle="tab">
                    <em class="icon-equalizer fa-lg"></em>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="app-settings" role="tabpanel">
                <h3 class="text-center text-thin mt-4">Accesibility Menu</h3>
                <div class="p-2">
                    <div>
                        <h4><strong style="color:black">Fonts</strong></h4>
                        <a id="btnTextSizeOn" class="mb-1 btn btn-primary accessibilityMenuButton alignLeft" style="background-color:steelblue; border-color:lightskyblue" href="/Toolkit/UpdateAccessibilityMenu?type=fonts&typeId=1"><em class="mr-2 fas fa-font"></em>Large fonts</a>
                        <a id="btnTextSizeOff" class="mb-1 btn btn-primary accessibilityMenuButton alignLeft" aria-disabled="false" href="/Toolkit/UpdateAccessibilityMenu?type=fonts&typeId=0"><em class="mr-2 fas fa-font"></em>Normal fonts</a>
                    </div>
                    <br />
                    @*<div>
                        <h4 class="text-muted text-thin">Contrast mode</h4>
                        <a id="btnHighContrastOn" class="mb-1 btn btn-primary accessibilityMenuButton alignLeft" style="background-color:steelblue; border-color:lightskyblue"  href="/Toolkit/UpdateAccessibilityMenu?type=contrast&typeId=1"><em class="mr-2 fas fa-adjust"></em>High contrast mode</a>
                        <a id="btnHighContrastOff" class="mb-1 btn btn-primary accessibilityMenuButton alignLeft"  href="/Toolkit/UpdateAccessibilityMenu?type=contrast&typeId=0"><em class="mr-2 fas fa-adjust"></em>Regular contrast mode</a>
                    </div>
                    <br />*@
                    <div>
                        <h4><strong style="color:black">Colored Links</strong></h4>
                        <a class="mb-1 btn btn-primary" style="background-color:steelblue; border-color:lightskyblue" href="/Toolkit/UpdateAccessibilityMenu?type=colored&typeId=1">
                            <em class="mr-2 fas fa-edit"></em>Yellow colored links
                        </a>
                        <a class="mb-1 btn btn-primary" href="/Toolkit/UpdateAccessibilityMenu?type=colored&typeId=0"><em class="mr-2 fas fa-edit"></em>Normal colored links</a>
                    </div>
                    <br />
                    <div>
                        <h4><strong style="color:black">Underline</strong></h4>
                        <a class="mb-1 btn btn-primary" style="background-color:steelblue; border-color:lightskyblue" href="/Toolkit/UpdateAccessibilityMenu?type=underline&typeId=1">
                            <em class="mr-2 far fa-edit"></em>Underline links
                        </a>
                        <br />
                        <a class="mb-1 btn btn-primary" href="/Toolkit/UpdateAccessibilityMenu?type=underline&typeId=0"><em class="mr-2 far fa-edit"></em>Default links</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END Off Sidebar (right)-->

@section Styles{
    <link href="~/accessibility-menu/accessibilitymenu.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,200,700' rel='stylesheet' type='text/css'>
}

@section Scripts {
    <script type="text/javascript" src="~/accessibility-menu/accessibilitymenu.js" data-language="eng" data-oemsource="accessible+" data-sign="classic"></script>
    <script src="~/vendor/modernizr/modernizr.js"></script>
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jqueryui/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/scripts/accessibility.js"></script>
<script>
  
</script>
}