@model LiveIT.Toolkit.Models.StakeholderDTO

@{
    ViewData["Title"] = "Add Stakeholder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    <div>
        Add Stakeholder
    </div>
</div>

<div class="card" style="max-width:1300px">
    <div class="card-body">
        <div class="col-md-4">
            <form asp-action="AddStakeholder">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label> <small><i> (max: 150 char.)</i></small>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Website" class="control-label"></label> <small><i> (max: 250 char.)</i></small>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacebookUrl" class="control-label"></label> <small><i> (max: 500 char.)</i></small>
                    <input asp-for="FacebookUrl" class="form-control" />
                    <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitterUrl" class="control-label"></label> <small><i> (max: 200 char.)</i></small>
                    <input asp-for="TwitterUrl" class="form-control" />
                    <span asp-validation-for="TwitterUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YoutubeUrl" class="control-label"></label> <small><i> (max: 150 char.)</i></small>
                    <input asp-for="YoutubeUrl" class="form-control" />
                    <span asp-validation-for="YoutubeUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkedInUrl" class="control-label"></label> <small><i> (max: 150 char.)</i></small>
                    <input asp-for="LinkedInUrl" class="form-control" />
                    <span asp-validation-for="LinkedInUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label> <small><i> (max: 50 char.)</i></small>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Country</label>
                    <div>
                        @Html.DropDownListFor(x => Model.SelectedCountry, new SelectList(Model.CountryListItems, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Country" })
                        @Html.ValidationMessageFor(x => x.SelectedCountry, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Add"  class="mb-1 btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Stakeholders">Return to Stakeholder list</a>
</div>

@section Scripts {
<script src="~/js/popper.min.js"></script>
<script src="~/js/moment.js"></script>

<link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">
<script src="~/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}